.venv/
__pycache__/
*.py[cod]
*.swp

train.log
wandb/
=2.8.2

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/manifests/*
!data/manifests/.gitkeep

data/meta/*
!data/meta/.gitkeep

outputs/ckpt/*
!outputs/ckpt/.gitkeep

outputs/plots/*
!outputs/plots/.gitkeep
